html{
	position: relative;
    min-height: 100%;
}
#body-id {
	color:white;
}
nav {
	background-color:rgba(1, 39, 242,0.6);
	position:fixed;
}
nav a{
	font-family: 'Orbitron' ,'sans-serif';
}
nav a:hover{
	background-color:rgba(200,200,200,1);
}
#search-icon {
	background-color: #28a745;
}
#home-body{
	background-color:rgba(100,100,100,0.6);
}

#divison{
	background-color:rgba(100,100,100,0.6);
	padding:30px;
}
#info-body{
	padding-left:10px;
	background-color: grey
}
footer{
	background:rgba(20,20,20,0.8);
	margin-top:100px;
    position:relative;
    width: 100%;
    overflow: hidden;
}