{% extends 'logos/index.html' %}

{% block title %} Home {% endblock %}

{% block content %}
	<div class="container " id="home-body">
	<h1><center><strong> About<strong></center></h1>
	<h4><p><center> This is your free LOGO design website.</center></p>
	<p><center>Feel free to request any kind of Logo as per your requirement </center></p>
	<p><center>or you can also contribute us by accepting the requests</center></p>
	<p><center>or you can make any random Logo independently. </center></p></h4>
	<p><center><h2>So go on Explore !!!</h2></center></p>

	<hr>
	</div>

{% endblock %}