{% extends 'request/requests_page.html' %}

{% block info-modal%}
	<button class="btn btn-block btn-outline-secondary rounded" data-toggle="modal" data-target="#info-modal">Info</button>
	<div class="modal fade " id="info-modal" >
		<div class=" modal-dialog "  >
			<div class="modal-content ">
				<div class="modal-header " style="height:5rem;background-color: #7502d3">
				<center><h1>{{ request.requested_by }}</h1></center>
				<a href="" class="close"  data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"><h1>&times;</h1></span>
				</a>
				</div>
				
				<div class="modal-body" style="padding-left:10px;">
						<p>Requested By : {{ request.requested_by }}</p>
						<p>Type of Logo :  {{ request.logo_type }}</p>
						<p>Email : {{ request.email }}</p>
						<p>Usage : {{ request.usage }}</p>
						<p>Discription : {{ request.discription }}</p>
						<p>Request date : {{ request.request_date }}</p>
				</div>
				<div class="modal-footer container-fluid">
					<a href="#" class="container-fluid">
						<button class="btn btn-block btn-outline-success">Create</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}