{% extends 'logos/index.html' %}

{% block title %} details {% endblock %}

{% block content %}
<div class ="container" id="divison">
	<div >
        Details for :<h1> {{ request.requested_by }} </h1>
	</div>
	<div>
		<p> Type of Logo :  {{ request.logo_type }}</p>
	</div>
	<div>
		<p> Email : {{ request.email }}</p>
	</div>
		

	
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
			<a href="#"><button class="btn btn-block btn-outline-primary rounded">Create</button></a>
			</div>
			<div class="col-md-6">
			
			<button class="btn btn-block btn-outline-info rounded" data-toggle="modal" data-target="#{{ request.pk }}-info">Info</button>
				<div class="modal fade " id="{{ request.pk }}-info" >
					<div class=" modal-dialog "  >
						<div class="modal-content ">
							<div class="modal-header " style="height:5rem;background-color: #7502d3">
							<center><h1>{{ request.requested_by }}</h1></center>
							<a href="" class="close"  data-dismiss="modal" aria-label="close">
								<span aria-hidden="true"><h1>&times;</h1></span>
							</a>
							</div>
							
							<div class="modal-body" id="info-body">
									<p>Requested By : {{ request.requested_by }}</p>
									<p>Type of Logo :  {{ request.logo_type }}</p>
									<p>Email : {{ request.email }}</p>
									<p>Usage : {{ request.usage }}</p>
									<p>Discription : {{ request.discription }}</p>
									<p>Request date : {{ request.request_date }}</p>
							</div>
							<div class="modal-footer container-fluid">
								<a href="#" class="container-fluid">
									<button class="btn btn-block btn-outline-success">Create</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}